<h1>Countries</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name(ru)</th>
      <th>Name(en)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
        <td><%= country.id %></td>
        <td><%= link_to country.name_ru, country %></td>
        <td><%= link_to country.name_en, country %></td>
        <td>
          <%= link_to 'Edit', edit_country_path(country), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', country_path(country), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_country_path, :class => 'btn btn-primary' %>
