<h1><%= @country.name_ru %> / <%= @country.name_en %></h1>

<div>
  <div><b>Movies</b></div>
  <% @country.movies.order(:year).each do |movie| %>
    <div>
      (
      <%= movie.year %>
      )
      <%= link_to movie.name_ru, movie %>
    </div>
<% end %>
</div>

<div>
  <div><b>Actors</b></div>
  <%= raw @country.actors.map { |actor| link_to actor.name_ru, actor }.join(", ") %>
</div>

<div class="form-actions">
  <%= link_to 'Back', countries_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_country_path(@country), :class => 'btn' %>
  <%= link_to 'Delete', country_path(@country), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
