<!DOCTYPE html>
<html>
<head>
  <title>VideoLibrary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_path %>">VideoLibrary</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Movies",    :movies %></li>
          <li><%= link_to "Actors",    :actors %></li>
          <li><%= link_to "Countries", :countries %></li>
          <li><%= link_to "Genres",    :genres %></li>
          <li><%= link_to "Carriers",  :carriers %></li>
          <li><%= link_to "Involves",  :involves %></li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <%= link_to "#", :class => :"dropdown-toggle", :"data-toggle" => :"dropdown" do %>
                Requests
                <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "Last movies", new_last_movies_path %></li>
              <li><%= link_to "Find movies by genre percentage", new_genre_search_path %></li>
              <li><%= link_to "Find actors by type of involvement", new_involve_search_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert<%= " alert-#{ name == :notice ? "success" : "error" }" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>

  <div id="content">
    <%= yield %>
  </div>
</div>
</body>
</html>
